.btn-left-items,
.btn-right-items {
  position: absolute;
  background-color: #fff;
  padding: 12px;
  top: 100px;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  line-height: 10px;
  z-index: 100;
  transition: box-shadow 0.2s;

  span {
    font-size: 2.8em;
    color: $azul-claro;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-left-items {
  left: -35px;
}

.btn-right-items {
  right: -35px;
}
