.cont-carrusel-items {
  overflow-x: hidden;
  height: 360px;
  max-width: 1100px;
  min-width: 1100px;
}

.seccion-carrusel-item:hover {
  .cont-btn {
    visibility: visible;
  }
}

.seccion-carrusel-item {
  height: 390px;

  .cont-btn {
    visibility: hidden;
  }
}

.cont-slider {
  transition: 0.3s ease;
}
